@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:ital@1&family=Oleo+Script&family=Pacifico&display=swap');

/* BOX MODEL HACK */
* {
    box-sizing: border-box;
  }
  
  /* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */
  
html {
    font-size: 62.5%;
    color: black;
    font-weight: 100;
    line-height: 2;
}
  
body {
    margin: 0;
    padding: 0;
    background: rgb(249, 243, 220);
}
  
/* LAYOUT*/

section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

div {
    max-width: 90rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
}

input {
    width: 10rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(117, 162, 201);
    padding: 0.4rem;
    display: block;
    margin: 2rem auto;
  }
  
button {
    background: rgb(117, 162, 201);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid rgb(117, 162, 201);
    color: rgb(249, 243, 220);
    font-weight: 500;
    font-size: 1.6rem;
    font-family: 'Lobster Two', cursive;
    cursor: pointer;
}
  
button:hover {
    background: rgb(249, 243, 220);
    color: rgb(117, 162, 201);
    transform: scale(1.1);
    transition: all 0.8s ease-out;
}
  
h1, h2 {
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
    color: rgb(117, 162, 201);
}
  
p {
    font-size: 1.8rem;
    padding: 2rem;
    font-family: 'Lobster Two', cursive;
}

img {
    display: block;
    margin: 2rem auto;
    max-width: 50rem;
    max-height: 50rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(116, 177, 238);

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

    
}

img:hover {
    /* transform: scale(1.05);
    transition: all 0.8s ease; */

    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
  
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  