@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster+Two:ital@1&family=Oleo+Script&family=Pacifico&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,300;1,400;1,700&display=swap');

/* BOX MODEL HACK */
* {
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    color: black;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 0.1rem;
}
  
body {
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=988&q=80');
}

/* Header */

.introTextDiv {
    padding: 0 4rem;
}

.introHeader {
    padding: 6rem 0 3rem 0 !important;
}

.introText, .introText a {
    max-width: 90rem;
    margin: 0 auto;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: black;
}

.introText span {
    color: rgb(116, 177, 238);
}

.introText a:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
    color: rgb(116, 177, 238);
}
  
/* LAYOUT*/

section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: rgb(249, 243, 220);
    border-radius: 10px;
    
}

.headerSection {
    background: none;
    color: rgb(249, 243, 220);
}

.infoDiv {
    max-width: 90rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
}

.marsDiv {
    margin-top: 0 !important;
}

input {
    width: 13rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(117, 162, 201);
    padding: 0.4rem;
    display: block;
    margin: 2rem auto;
}
  
button {
    background: rgb(117, 162, 201);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid rgb(117, 162, 201);
    color: rgb(249, 243, 220);
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Lobster Two', cursive;
    cursor: pointer;
    width: 13rem;
    margin: 0 auto;
}
  
button:hover {
    background: rgb(249, 243, 220);
    color: rgb(117, 162, 201);
    transform: scale(1.1);
    transition: all 0.8s ease-out;
}
  
h1, h2, h3 {
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 4rem;
    padding: 5rem 0;
}

h2 {
    font-size: 2.6rem;
    color: rgb(10, 132, 194);
}

h3 {
    font-size: 2.2rem;
    color:rgb(116, 177, 238);
}
  
p {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem;
    font-family: 'Source Sans 3', sans-serif;
}

.imageContainer {
    position: relative;
    max-width: 70rem;
    max-height: 70rem;
    overflow: hidden;
    cursor: pointer;
    margin: 5rem auto 0 auto;
}

.imageContainer:hover {
    display: block;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

img:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

/* Mars photo specs */

.marsSpecs {
    margin: 0 auto;
    max-width: 60rem;
    justify-content: center;
    padding-bottom: 10rem;
}

.topSpan {
    font-weight: 600;
    font-size: 2rem;
    margin-right: 2rem;
    font-family: 'Source Sans 3', sans-serif;
}

.bottomSpan {
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Source Sans 3', sans-serif;
}

.errorImage {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(225, 16, 16);
    z-index: 3;
}

/* Footer */

.registered {
    color: rgb(249, 243, 220);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.registered a {
    text-decoration: none;
    color: rgb(249, 243, 220);
}

.registered a:hover {
    transition: all 0.8s ease;
    color: rgb(116, 177, 238);
}